# Programing Exercise Questions for GGS416 Week 2

1) In the box below, create a list containing the following elements and print the result:
    - 42
    - 'red'
    - 1
    - 'GMU'

In [1]:
# Enter answer:

my_list = [42, 'red', 1, 'GMU']
my_list

[42, 'red', 1, 'GMU']

2) In the box below, demonstrate the code for how you would:
 - Print the third element in your list
 - Cut the list so it only includes the first 2 element
 - Cut the list so it only includes the last 3 elements

In [5]:
# Enter answer:
print(my_list[3])
print(my_list[:2])
print(my_list[1:])

GMU
[42, 'red']
['red', 1, 'GMU']

3) In the box below, create a tuple which contains numbers from 0-3 and print the result:

In [6]:
# Enter answer:
my_tuple = (0,1,2,3)
my_tuple

(0, 1, 2, 3)

4) Unpack this tuple in a single line of code, into the variable names a, b, c and d.

Print the result.

In [7]:
# Enter answer:
a,b,c,d = my_tuple
print(a,b,c,d)

0 1 2 3

5) Now place your original tuple into a list.

Print the result.

In [8]:
# Enter answer:
my_list = []
my_list.append(my_tuple)
my_list

[(0, 1, 2, 3)]

6) Import a module with a square root function, and take the square root of 25:

Print the result.

In [9]:
# Enter answer:
import math
math.sqrt(25)

5.0

7) You have two strings, one is 'George' and the other is 'Mason'. 

Demonstrate how you would concatenate them into a single string to obtain 'George Mason'.  

Print the result.

In [10]:
# Enter answer:
string1 = 'George'
string2 = 'Mason'
my_string = string1 + ' ' + string2
print(my_string)

George Mason

8) You have three lists as follows:
    - [1,2,3]
    - [4,5,6]
    - [7,8,9]
    
Combine them into a single list of lists and print the result:

In [11]:
# Enter answer:
my_list_of_lists = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
my_list_of_lists

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

9) You have the following three tuples. 

Create a single list of tuples and print the result:

    - (1,2,3)
    - (4,5,6)
    - (7,8,9)

In [12]:
# Enter answer:
my_list_of_tuples = [
    (1,2,3),
    (4,5,6),
    (7,8,9)
]
my_list_of_tuples

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

10) Create a dictionary from the following keys and values:
    - A key named 'key1' with an associated value of 'value1'
    - A key named 'key2' with an associated value of 'value2'

In [30]:
# Enter answer:

11) With your dictionary, demonstrate how you would print the value 'value2':

In [31]:
# Enter answer:

12) Create a second dictionary from the following:
    - A key named 'key3' with an associated value of 'value3'
    - A key named 'key4' with an associated value of 'value4'
    
Now add both the first dict you created, with this second dict, to create a list of dictionaries. 

Print the result.

In [32]:
# Enter answer:

13) Now create a for loop to print the list of dictionaries one at a time:

In [33]:
# Enter answer:

14) In your for loop, add in a line of logic so that only value3 is printed:

In [34]:
# Enter answer:

15) Create a NumPy array from the following list: [10,20,30,40]
    
Print the result.

In [35]:
# Enter answer:

16) Create a NumPy array containing five values linearly between 0 and 20:

Print the result.

In [36]:
# Enter answer:

17) Generate 30 random numbers as a NumPy array:

Print the result.

In [37]:
# Enter answer:

18) Create a for loop which uses a range of 0-4. 

Print out each number in this range iteratively.

In [38]:
# Enter answer:

19) Create a function which adds two given numbers and returns the result. 

Print out the result.

In [39]:
# Enter answer:

20) Using pandas import the `lookup.csv` dataset.

Print the dataset

In [40]:
# Enter answer:

# Congratulations on completing Week 2!

You are now ready for next week. Just make sure you revise this content.

This week's multi-choice assignment will test this knowledge.