# Python as a Calculator

Python can be used to perfrom simple arithmetic functions, as we will cover here.

However, you need to understand Python operators (don't worry, their easy!).

Frequent operators include:
    - Addition (+)
    - Substraction (-)
    - Multiplication (*)
    - Divsion (/)
    - Power (**)
    
See more here: https://www.w3schools.com/python/python_operators.asp

In [2]:
# Addition

1 + 1

2

In [3]:
# Subtraction

2 - 1

1

In [4]:
# Multiplication

2 * 2

4

In [5]:
# Division

4 / 2

2.0

In [6]:
# Power

3 ** 3

27

In [7]:
# Remember parantheses can be used but need to be worked out in order 
# (e.g. BODMAS, BIDMAS and PEMDAS or whatever version you were taught)

8 / (2 * 2)

2.0

In [2]:
# If you fail to use the correct notation, you can end up with the wrong result!

8 / 2 * 2

8.0

In [10]:
# Floor division estimates the number of times a whole number divides into another number

21 // 5

4

In [11]:
# Modulo Operator returns the remaining quantity after a division

21 % 5

1

In [3]:
# A handy shortcut which is usful in both Python and Excel is writing out long numbers using scientific notation.
# For example, one thousand can be written out using the number one, followed by the letter 'e' to indicate this 
# is scientific notation, and then the number of following zeros. 
# Scientific notation = 1 thousand
1e3

1000.0

In [4]:
# Scientific notation = 1 million
1e6

1000000.0

## Exercise 1

Work through the following tasks and have a go at obtaining the answers.

How would you add five plus five in Python?

In [ ]:
#Enter your attempt below:

How would you write three plus four minus two?

In [ ]:
#Enter your attempt below:

How would you multiply five by five?:

In [ ]:
#Enter your attempt below:

There are multiple ways you could write five multiplied by five. 

How would you raise five to the power of 2!

In [ ]:
#Enter your attempt below:

How would you divide the number ten by two?

In [ ]:
#Enter your attempt below:

How would you divide ten by three using floor division?

In [ ]:
#Enter your attempt below:

If we divide twelve by five using the modulo operation, what answer do you think you will get? And why?

In [ ]:
#Enter your attempt below:

Using scientific notation how would you enter 1 billion?

In [ ]:
#Enter your attempt below:

Using scientific notation how would you enter 1 trillion?

<div class="alert alert-block alert-warning">

<b>!! Note !!</b> More complicated calculations can be done by combining these operations. Eg.

</div>

What number would you get if you summed six and twenty one, and the multiplied it by 2, and divided by three?

Have a go below:

In [ ]:
#Enter your attempt below: