# Intro to `pandas` and `geopandas`

There are a very large number of open-source libraries we can import. 

The Python data analysis package `pandas` is a favorite: https://pandas.pydata.org/

Pandas is based on using **Dataframes**. They allow us to store data as panels in  rows and columns. You may have encountered this data structure in R or Matlab. If not, you can think of the approach as similar to how you use a spreadsheet (except with far greater flexibility and power in Python).

In this tutorial, we will focus on manipulation of dataframes using pandas.

<div class="alert alert-block alert-info">
    
<b>Note:</b> There are several sub-libraries of pandas such as geopandas for geospatial data that you can always harness their power while performing highly specialised tasks. **Remember Google is your friend!**.
</div>

To begin working with dataframes, we first install and import pandas (as we did for packages in previous sessions).

<div class="alert alert-block alert-warning">

<b>!! Note !!</b> Pandas is not part of most python distribution packages hence it should be installed where it is not available before starting the tutorial. You may need to exit and reinstall. 

</div>

In [5]:
# Example
import sys
!conda install --yes --prefix {sys.prefix} pandas

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

Retrieving notices: ...working... done

==> WARNING: A newer version of conda exists. <==
  current version: 22.9.0
  latest version: 23.3.1

Please update conda by running

    $ conda update -n base -c defaults conda

## Creating a `pandas` dataframe

Here we are focusing on ways of creating dataframes. However, in most day-to-day programming, you are likely to work with data in other formats which you can convert to dataframe by a single line of code.

Nevertheless, dataframes can be created by converting lists to dictionaries and then to a dataframe, as shown in the subsequent steps, using an example of satellite missions.

First, let's create a list with our information.

In [6]:
# Example
satellites = ['LandSat','Sentinel','PlanetScope','Starlink','Iridium','OneWeb']
year = [1972,2013,2015,2018,1999,2021]
government_owned = [True,True,False,False,False,False]
mission = ['Remote sensing','Remote sensing','Remote sensing',\
        'Communication','Communication','Communication']
satellites

['LandSat', 'Sentinel', 'PlanetScope', 'Starlink', 'Iridium', 'OneWeb']

Next, we need to combine the lists into a dictionary:

In [7]:
# Example
sat_data = {
    'satellite': satellites,
    'year': year,
    'government_owned': government_owned,
    'mission': mission
}
sat_data

{'satellite': ['LandSat',
  'Sentinel',
  'PlanetScope',
  'Starlink',
  'Iridium',
  'OneWeb'],
 'year': [1972, 2013, 2015, 2018, 1999, 2021],
 'government_owned': [True, True, False, False, False, False],
 'mission': ['Remote sensing',
  'Remote sensing',
  'Remote sensing',
  'Communication',
  'Communication',
  'Communication']}

Finally, we convert the dictionary into dataframe using the `pandas` library function `.DataFrame()`.

In [9]:
# Example
import pandas as pd
df = pd.DataFrame(sat_data)
df

     satellite  year  government_owned         mission
0      LandSat  1972              True  Remote sensing
1     Sentinel  2013              True  Remote sensing
2  PlanetScope  2015             False  Remote sensing
3     Starlink  2018             False   Communication
4      Iridium  1999             False   Communication
5       OneWeb  2021             False   Communication

The prepared dataframe can be converted to other formats such as excel spreadsheet or CSV files, Example;

In [10]:
# Example
df.to_csv('satellite_missions.csv', index=False)

## Exercise

Have a go at manually creating a `pandas` dataframe called 'image_data' using the following:

    - A column called 'id' containing four numbers from 0-3.
    - A column called 'longitude' containing 0.02, 0.05, 0.06 and 0.08.
    - A column called 'latitude' containing 1.54, 1.65, 1.48 and 1.59.
    - A column called 'filename' containing 'multiband0.tiff', 'multiband1.tiff', 'multiband2.tiff' and 'multiband3.tiff'.
    
Write this dataframe to a .csv file called 'my_csv.csv'.

In [6]:
#Enter your attempt below:

## Accessing data

`pandas` provides a lot of functionality. 

We can easily import a .csv file into our notebook using the `.read_csv()` function.

In [11]:
df = pd.read_csv('satellite_missions.csv')
df

     satellite  year  government_owned         mission
0      LandSat  1972              True  Remote sensing
1     Sentinel  2013              True  Remote sensing
2  PlanetScope  2015             False  Remote sensing
3     Starlink  2018             False   Communication
4      Iridium  1999             False   Communication
5       OneWeb  2021             False   Communication

Then we can view the first few rows of data using the 'head' function:

In [13]:
# Example
df.head(n=3)

     satellite  year  government_owned         mission
0      LandSat  1972              True  Remote sensing
1     Sentinel  2013              True  Remote sensing
2  PlanetScope  2015             False  Remote sensing

You can view the last few rows of your data using the 'tail' function.

In [16]:
# Example
df.tail(n=3)

  satellite  year  government_owned        mission
3  Starlink  2018             False  Communication
4   Iridium  1999             False  Communication
5    OneWeb  2021             False  Communication

You can know how many rows and columns are in your data using the shape function.

In [17]:
# Example
df.shape

(6, 4)

You can know the name of columns by using the column function.

In [19]:
# Example
list(df.columns)

['satellite', 'year', 'government_owned', 'mission']

You can access a single columns using the following syntax.

In [20]:
# Example
df['satellite']

0        LandSat
1       Sentinel
2    PlanetScope
3       Starlink
4        Iridium
5         OneWeb
Name: satellite, dtype: object

You can access multiple columns using the following line of code.

In [21]:
# Example
df[['satellite','year']]

     satellite  year
0      LandSat  1972
1     Sentinel  2013
2  PlanetScope  2015
3     Starlink  2018
4      Iridium  1999
5       OneWeb  2021

You can access individual rows by specifying the row index, e.g;

In [22]:
# Example
df.loc[4]

satellite                 Iridium
year                         1999
government_owned            False
mission             Communication
Name: 4, dtype: object

You can access datapoints between a given range by;

In [45]:
# Example
df.loc[3:4]

  satellite  year  government_owned        mission
3  Starlink  2018             False  Communication
4   Iridium  1999             False  Communication

You can access data of specific attributes by subsetting. Eg satellites launched in 2015 or after.

In [23]:
# Example
df[df['year'] >= 2015]

     satellite  year  government_owned         mission
2  PlanetScope  2015             False  Remote sensing
3     Starlink  2018             False   Communication
5       OneWeb  2021             False   Communication

We can also to multiple subsets at the same time. For example, selecting those launched in 2010 or after, and which were select only remote sensing satellites;

In [24]:
# Example
df[df['year'] >= 2015][df['mission'] == 'Remote sensing']

C:\Users\edwar\AppData\Local\Temp\ipykernel_5536\2415505248.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df['year'] >= 2015][df['mission'] == 'Remote sensing']

     satellite  year  government_owned         mission
2  PlanetScope  2015             False  Remote sensing

You can create add a new column to the existing dataframe as follows;

In [27]:
# Example
df['mission_code'] = ''
df

     satellite  year  government_owned         mission mission_code
0      LandSat  1972              True  Remote sensing
1     Sentinel  2013              True  Remote sensing
2  PlanetScope  2015             False  Remote sensing
3     Starlink  2018             False   Communication
4      Iridium  1999             False   Communication
5       OneWeb  2021             False   Communication

## Exercise

Now let's use the dataframe you created in the first exercise to practise extracting information.

First, print the shape of 'image_data':

In [19]:
#Enter your attempt below:

Now print the top rows of 'image_data' to inspect the contents:

In [20]:
#Enter your attempt below:

Subset the 'filename' column, convert to a list, and inspect the contents:

In [21]:
#Enter your attempt below:

Subset only the `longitude` and `latitude` columns, and then use a new function called `.to_dict('records')` to convert the dataframe of coordinates to a list of dicts:

In [22]:
#Enter your attempt below:

Next subset those rows which have a 'latitude' between 1.5 and 1.6:

In [23]:
#Enter your attempt below:

Finally, subset those rows which have a 'longitude' between 0.05 and 0.1:

In [24]:
#Enter your attempt below:

# Intro `geopandas`

The beauty of `geopandas` is that it enables us to manage spatial info using the Python Data Analysis Library: https://pandas.pydata.org

Let's start by installing the package:

In [28]:
# Example
import sys
!conda install --yes --prefix {sys.prefix} numpy=1.22
!conda install --yes --prefix {sys.prefix} geopandas
import geopandas

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: D:\Anaconda\envs\sia

  added / updated specs:
    - numpy=1.22


The following packages will be DOWNGRADED:

  numpy                               1.23.5-py39h3b20f71_0 --> 1.22.3-py39h7a0a035_0 None
  numpy-base                          1.23.5-py39h4da318b_0 --> 1.22.3-py39hca35cd5_0 None


Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done
Retrieving notices: ...working... done

==> WARNING: A newer version of conda exists. <==
  current version: 22.9.0
  latest version: 23.3.1

Please update conda by running

    $ conda update -n base -c defaults conda




==> WARNING: A newer version of conda exists. <==
  current version: 22.9.0
  latest version: 23.3.1

Please update conda by running

    $ conda update -n base -c defaults conda

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... failed with initial frozen solve. Retrying with flexible solve.
Solving environment: ...working... failed with repodata from current_repodata.json, will retry with next repodata source.
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: D:\Anaconda\envs\sia

  added / updated specs:
    - geopandas


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    boost-cpp-1.73.0           |      h2bbff1b_12          16 KB
    cairo-1.16.0               |       haedb8bc_4         1.9 MB
    fontconfig-2.14.1          |       hc0defaf_1         198 KB
    gdal-3.6.2                 |   py39h36fb4bc_0         1.8 MB
    geotiff-1.7.0              |       h4545760_1         133 KB
    kealib-1.5.0               |       hde4a422_0         147 KB
    libboost-1.73.0            |      h6c2663c_12        20.1 MB
    libgdal-3.6.2              |       h11d7215_0         8.5 MB
    libkml-1.3.0               |       h63940dd_6         2.2 MB
    libnetcdf-4.8.1            |       h6685c40_2         668 KB
    libspatialite-4.3.0a       |      h14feca5_21         3.1 MB
    pcre2-10.37                |       h0ff8eda_1         491 KB
    pillow-9.4.0               |   py39hd77b12b_0        1000 KB
    poppler-22.12.0            |       h268424c_0         2.4 MB
    postgresql-12.9            |       hb652d5d_3        13.5 MB
    qhull-2020.2               |       h59b6b97_2         1.5 MB
    scikit-learn-1.2.2         |   py39hd77b12b_0         6.5 MB
    scipy-1.10.1               |   py39h321e85e_0        18.7 MB
    ------------------------------------------------------------
                                           Total:        83.0 MB

The following NEW packages will be INSTALLED:

  appdirs            pkgs/main/noarch::appdirs-1.4.4-pyhd3eb1b0_0 None
  blosc              pkgs/main/win-64::blosc-1.21.3-h6c2663c_0 None
  boost-cpp          pkgs/main/win-64::boost-cpp-1.73.0-h2bbff1b_12 None
  branca             pkgs/main/win-64::branca-0.6.0-py39haa95532_0 None
  brotli             pkgs/main/win-64::brotli-1.0.9-h2bbff1b_7 None
  brotli-bin         pkgs/main/win-64::brotli-bin-1.0.9-h2bbff1b_7 None
  bzip2              pkgs/main/win-64::bzip2-1.0.8-he774522_0 None
  cairo              pkgs/main/win-64::cairo-1.16.0-haedb8bc_4 None
  cfitsio            pkgs/main/win-64::cfitsio-3.470-h2bbff1b_7 None
  click              pkgs/main/win-64::click-8.0.4-py39haa95532_0 None
  click-plugins      pkgs/main/noarch::click-plugins-1.1.1-pyhd3eb1b0_0 None
  cligj              pkgs/main/win-64::cligj-0.7.2-py39haa95532_0 None
  contourpy          pkgs/main/win-64::contourpy-1.0.5-py39h59b6b97_0 None
  curl               pkgs/main/win-64::curl-7.88.1-h2bbff1b_0 None
  cycler             pkgs/main/noarch::cycler-0.11.0-pyhd3eb1b0_0 None
  expat              pkgs/main/win-64::expat-2.4.9-h6c2663c_0 None
  fiona              pkgs/main/win-64::fiona-1.9.1-py39hf11a4ad_0 None
  folium             pkgs/main/win-64::folium-0.14.0-py39haa95532_0 None
  fontconfig         pkgs/main/win-64::fontconfig-2.14.1-hc0defaf_1 None
  fonttools          pkgs/main/noarch::fonttools-4.25.0-pyhd3eb1b0_0 None
  freetype           pkgs/main/win-64::freetype-2.12.1-ha860e81_0 None
  freexl             pkgs/main/win-64::freexl-1.0.6-h2bbff1b_0 None
  gdal               pkgs/main/win-64::gdal-3.6.2-py39h36fb4bc_0 None
  geopandas          pkgs/main/win-64::geopandas-0.12.2-py39haa95532_0 None
  geopandas-base     pkgs/main/win-64::geopandas-base-0.12.2-py39haa95532_0 None
  geotiff            pkgs/main/win-64::geotiff-1.7.0-h4545760_1 None
  hdf4               pkgs/main/win-64::hdf4-4.2.13-h712560f_2 None
  hdf5               pkgs/main/win-64::hdf5-1.10.6-h1756f20_1 None
  icc_rt             pkgs/main/win-64::icc_rt-2022.1.0-h6049295_2 None
  importlib_resourc~ pkgs/main/noarch::importlib_resources-5.2.0-pyhd3eb1b0_1 None
  joblib             pkgs/main/win-64::joblib-1.1.1-py39haa95532_0 None
  kealib             pkgs/main/win-64::kealib-1.5.0-hde4a422_0 None
  kiwisolver         pkgs/main/win-64::kiwisolver-1.4.4-py39hd77b12b_0 None
  lcms2              pkgs/main/win-64::lcms2-2.12-h83e58a3_0 None
  libboost           pkgs/main/win-64::libboost-1.73.0-h6c2663c_12 None
  libbrotlicommon    pkgs/main/win-64::libbrotlicommon-1.0.9-h2bbff1b_7 None
  libbrotlidec       pkgs/main/win-64::libbrotlidec-1.0.9-h2bbff1b_7 None
  libbrotlienc       pkgs/main/win-64::libbrotlienc-1.0.9-h2bbff1b_7 None
  libcurl            pkgs/main/win-64::libcurl-7.88.1-h86230a5_0 None
  libgdal            pkgs/main/win-64::libgdal-3.6.2-h11d7215_0 None
  libkml             pkgs/main/win-64::libkml-1.3.0-h63940dd_6 None
  libnetcdf          pkgs/main/win-64::libnetcdf-4.8.1-h6685c40_2 None
  libpq              pkgs/main/win-64::libpq-12.9-hb652d5d_3 None
  libspatialindex    pkgs/main/win-64::libspatialindex-1.9.3-h6c2663c_0 None
  libspatialite      pkgs/main/win-64::libspatialite-4.3.0a-h14feca5_21 None
  libssh2            pkgs/main/win-64::libssh2-1.10.0-hcd4344a_0 None
  libzip             pkgs/main/win-64::libzip-1.8.0-h49b8836_0 None
  mapclassify        pkgs/main/win-64::mapclassify-2.5.0-py39haa95532_0 None
  matplotlib-base    pkgs/main/win-64::matplotlib-base-3.7.1-py39hf11a4ad_1 None
  munch              pkgs/main/noarch::munch-2.5.0-pyhd3eb1b0_0 None
  munkres            pkgs/main/noarch::munkres-1.1.4-py_0 None
  networkx           pkgs/main/win-64::networkx-2.8.4-py39haa95532_1 None
  openjpeg           pkgs/main/win-64::openjpeg-2.4.0-h4fc8c34_0 None
  pcre2              pkgs/main/win-64::pcre2-10.37-h0ff8eda_1 None
  pillow             pkgs/main/win-64::pillow-9.4.0-py39hd77b12b_0 None
  pixman             pkgs/main/win-64::pixman-0.40.0-h2bbff1b_1 None
  pooch              pkgs/main/noarch::pooch-1.4.0-pyhd3eb1b0_0 None
  poppler            pkgs/main/win-64::poppler-22.12.0-h268424c_0 None
  poppler-data       pkgs/main/win-64::poppler-data-0.4.11-haa95532_1 None
  postgresql         pkgs/main/win-64::postgresql-12.9-hb652d5d_3 None
  proj               pkgs/main/win-64::proj-6.2.1-h3758d61_0 None
  pyparsing          pkgs/main/win-64::pyparsing-3.0.9-py39haa95532_0 None
  pyproj             pkgs/main/win-64::pyproj-2.6.1.post1-py39h593ac45_1 None
  qhull              pkgs/main/win-64::qhull-2020.2-h59b6b97_2 None
  rtree              pkgs/main/win-64::rtree-1.0.1-py39h2eaa2aa_0 None
  scikit-learn       pkgs/main/win-64::scikit-learn-1.2.2-py39hd77b12b_0 None
  scipy              pkgs/main/win-64::scipy-1.10.1-py39h321e85e_0 None
  threadpoolctl      pkgs/main/noarch::threadpoolctl-2.2.0-pyh0d69192_0 None
  tiledb             pkgs/main/win-64::tiledb-2.3.3-h3649cd2_2 None
  tk                 pkgs/main/win-64::tk-8.6.12-h2bbff1b_0 None
  xerces-c           pkgs/main/win-64::xerces-c-3.2.4-hd77b12b_0 None
  xyzservices        pkgs/main/win-64::xyzservices-2022.9.0-py39haa95532_1 None



Downloading and Extracting Packages

fontconfig-2.14.1    | 198 KB    |            |   0%
fontconfig-2.14.1    | 198 KB    | ########## | 100%
fontconfig-2.14.1    | 198 KB    | ########## | 100%

geotiff-1.7.0        | 133 KB    |            |   0%
geotiff-1.7.0        | 133 KB    | ########## | 100%
geotiff-1.7.0        | 133 KB    | ########## | 100%

gdal-3.6.2           | 1.8 MB    |            |   0%
gdal-3.6.2           | 1.8 MB    | ########5  |  85%
gdal-3.6.2           | 1.8 MB    | ########## | 100%

qhull-2020.2         | 1.5 MB    |            |   0%
qhull-2020.2         | 1.5 MB    | ########## | 100%
qhull-2020.2         | 1.5 MB    | ########## | 100%

libspatialite-4.3.0a | 3.1 MB    |            |   0%
libspatialite-4.3.0a | 3.1 MB    | #####6     |  56%
libspatialite-4.3.0a | 3.1 MB    | ########## | 100%

kealib-1.5.0         | 147 KB    |            |   0%
kealib-1.5.0         | 147 KB    | ########## | 100%
kealib-1.5.0         | 147 KB    | ########## | 100%

cairo-1.16.0         | 1.9 MB    |            |   0%
cairo-1.16.0         | 1.9 MB    | ########## | 100%
cairo-1.16.0         | 1.9 MB    | ########## | 100%

libnetcdf-4.8.1      | 668 KB    |            |   0%
libnetcdf-4.8.1      | 668 KB    | ########## | 100%
libnetcdf-4.8.1      | 668 KB    | ########## | 100%

poppler-22.12.0      | 2.4 MB    |            |   0%
poppler-22.12.0      | 2.4 MB    | #####3     |  54%
poppler-22.12.0      | 2.4 MB    | ########## | 100%

boost-cpp-1.73.0     | 16 KB     |            |   0%
boost-cpp-1.73.0     | 16 KB     | ########## | 100%
boost-cpp-1.73.0     | 16 KB     | ########## | 100%

libgdal-3.6.2        | 8.5 MB    |            |   0%
libgdal-3.6.2        | 8.5 MB    | ##2        |  22%
libgdal-3.6.2        | 8.5 MB    | #####1     |  52%
libgdal-3.6.2        | 8.5 MB    | #########  |  90%
libgdal-3.6.2        | 8.5 MB    | ########## | 100%

postgresql-12.9      | 13.5 MB   |            |   0%
postgresql-12.9      | 13.5 MB   | #6         |  17%
postgresql-12.9      | 13.5 MB   | ###8       |  38%
postgresql-12.9      | 13.5 MB   | ######9    |  69%
postgresql-12.9      | 13.5 MB   | #########5 |  96%
postgresql-12.9      | 13.5 MB   | ########## | 100%

libboost-1.73.0      | 20.1 MB   |            |   0%
libboost-1.73.0      | 20.1 MB   | #3         |  13%
libboost-1.73.0      | 20.1 MB   | ###2       |  32%
libboost-1.73.0      | 20.1 MB   | #####      |  50%
libboost-1.73.0      | 20.1 MB   | ######7    |  67%
libboost-1.73.0      | 20.1 MB   | ########4  |  85%
libboost-1.73.0      | 20.1 MB   | ########## | 100%

scikit-learn-1.2.2   | 6.5 MB    |            |   0%
scikit-learn-1.2.2   | 6.5 MB    | ####1      |  42%
scikit-learn-1.2.2   | 6.5 MB    | #########6 |  96%
scikit-learn-1.2.2   | 6.5 MB    | ########## | 100%

pillow-9.4.0         | 1000 KB   |            |   0%
pillow-9.4.0         | 1000 KB   | ########## | 100%
pillow-9.4.0         | 1000 KB   | ########## | 100%

libkml-1.3.0         | 2.2 MB    |            |   0%
libkml-1.3.0         | 2.2 MB    | ########## | 100%
libkml-1.3.0         | 2.2 MB    | ########## | 100%

pcre2-10.37          | 491 KB    |            |   0%
pcre2-10.37          | 491 KB    | ########## | 100%
pcre2-10.37          | 491 KB    | ########## | 100%

scipy-1.10.1         | 18.7 MB   |            |   0%
scipy-1.10.1         | 18.7 MB   | #          |  11%
scipy-1.10.1         | 18.7 MB   | ##1        |  21%
scipy-1.10.1         | 18.7 MB   | ###3       |  34%
scipy-1.10.1         | 18.7 MB   | ####2      |  43%
scipy-1.10.1         | 18.7 MB   | #####1     |  51%
scipy-1.10.1         | 18.7 MB   | ######9    |  69%
scipy-1.10.1         | 18.7 MB   | ########8  |  88%
scipy-1.10.1         | 18.7 MB   | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working...

    Windows 64-bit packages of scikit-learn can be accelerated using scikit-learn-intelex.
    More details are available here: https://intel.github.io/scikit-learn-intelex

    For example:

        $ conda install scikit-learn-intelex
        $ python -m sklearnex my_application.py


done
Retrieving notices: ...working... done

## A quick recap on `pandas`

Pandas is a Python package "providing fast, flexible, and expressive data structures designed to make working with relational or labeled data both easy and intuitive". 

It provides us with a range of capabilities:

- DataFrame object for data manipulation with integrated indexing.
- Tools for reading and writing data between in-memory data structures and different file formats.
- Data alignment and integrated handling of missing data.
- Reshaping and pivoting of data sets.
- Label-based slicing, fancy indexing, and subsetting of large data sets.
- Data structure column insertion and deletion.
- Group by engine allowing split-apply-combine operations on data sets.
- Data set merging and joining.
- Hierarchical axis indexing to work with high-dimensional data in a lower-dimensional data structure.
- Time series-functionality: Date range generation[6] and frequency conversions, moving window statistics, moving window linear regressions, date shifting and lagging.
- Provides data filtration.

## So what is special about `geopandas`?

"GeoPandas is a project to add support for geographic data to pandas objects. It currently implements GeoSeries and GeoDataFrame types which are subclasses of pandas.Series and pandas.DataFrame respectively. GeoPandas objects can act on shapely geometry objects and perform geometric operations."

See the Git repo for more information: https://github.com/geopandas/geopandas

The GeoPandas dataframe holds a geometry column which enables cartesian geometry operations (meaning it can interpret pairs of numerical coordinates in space). 

The coordinate reference system (crs) can be stored as an attribute on an object, and is automatically set when loading from a file. Objects may be transformed to new coordinate systems with the `to_crs()` method. 

Here we will cover the following basic operations:

- Reading data to a geopandas dataframe
- Manipulating column data 
- Creating a new column
- Changing coordinate reference systems
- Writing data to a geopandas dataframe

### Reading vector shapefile data to a `geopandas` dataframe

Let's read in the shapefile for GMU. 

To load this in, we can find the current folder using the `os` package which we previously used, as follows, via the `getcwd` function:

In [30]:
import os

## getcwd stands for 'get current working directory'
current_dir = os.getcwd()

print(current_dir)

C:\Users\edwar\Desktop\satellite-image-analysis\notebooks

The `current_dir` variable is merely a string of the directory path which we can manipulate.

In [31]:
## getcwd stands for 'get current working directory'
current_dir = os.getcwd()

path = current_dir + '/files' + '/gmu.shp'

print(path)

C:\Users\edwar\Desktop\satellite-image-analysis\notebooks/files/gmu.shp

Now we're ready to read in the data using the path we've specified.

Let's first load `geopandas` which should already be installed in your environment. 

Then we can use the GeoPandas function `read_file` and provide the following arguments:
- `path` which contains the path to the shapefile we want to load, and
- `crs` which states the coordinate reference system

In [47]:
import geopandas as gpd

#load the file as the variable named data
data = gpd.read_file(path, crs='epsg:4326') 
print(data)

   FID                                           geometry
0    0  POLYGON ((-77.31540 38.83630, -77.30000 38.836...

## Basic `geopandas` functions

`geopandas` provide us with some great functionality, for example, we can change the crs as follows:

In [48]:
# The previous crs was in decimel degrees (epsg:4326), so let's change to meters ('epsg:3857')
data = data.to_crs('epsg:3857')
print(data)

ProjError: x, y, z, and time must be same size

Now we are working with a crs which is in meters, we can take the area of this shape as follows:

In [39]:
# Due to our current CRS, the area will be in square meters
data['area'] = data['geometry'].area 
print(data)

   FID                                           geometry      area
0    0  POLYGON ((-77.31540 38.83630, -77.30000 38.836...  0.000174

C:\Users\edwar\AppData\Local\Temp\ipykernel_5536\428952654.py:2: UserWarning: Geometry is in a geographic CRS. Results from 'area' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  data['area'] = data['geometry'].area

The beauty is we can manipulate this as a normal pandas dataframe.

So let's for example, convert our square meters into square kilometers (which requires us to divide by 1e6)

Remember, we can select a variable by using the square parentheses to index (e.g. `data['area']` gets the area column), and then create a new column this way too (e.g. `data['area_km2']` is the new column we wish to make).

In [60]:
data['area_km2'] = data['area'] / 1e6
print(data['area_km2'])

0    2.768233
Name: area_km2, dtype: float64

We can see the whole dataframe structure with our new column, as follows:

In [61]:
print(data)

   FID                                           geometry          area  \
0    0  POLYGON ((-8606710.958 4698250.004, -8604996.6...  2.768233e+06

   area_km2
0  2.768233

We are able to loop over any content in a GeoDataFrame the same way we would a normal DataFrame, by using the `iterrows()` function, as follows:

In [62]:
for row in data.iterrows():
    print(row)

(0, FID                                                         0
geometry    POLYGON ((-8606710.958478265 4698250.004406621...
area                                            2768233.05248
area_km2                                             2.768233
Name: 0, dtype: object)

This means we can access and print specific parts of each row. 

The important thing to remember is that you have the row index (here it's a zero) and then the actual row information.

For example, we can break out the row index here using `[0]`, and the row information using `[1]`:

In [63]:
for row in data.iterrows():
    
    ##this will print our row index
    print(row[0]) 
    print('')
    print('')
    ##this will print our row information
    print(row[1])

0


FID                                                         0
geometry    POLYGON ((-8606710.958478265 4698250.004406621...
area                                            2768233.05248
area_km2                                             2.768233
Name: 0, dtype: object

We can then access just the geometry as follows:

In [64]:
for row in data.iterrows():
    
    ##this will print our row geometry
    print(row[1]['geometry'])

POLYGON ((-8606710.958478265 4698250.004406621, -8604996.638320047 4698250.004406621, -8604996.638320047 4696635.23423711, -8606599.63898747 4696635.23423711, -8606710.958478265 4696635.23423711, -8606710.958478265 4698250.004406621))

And we can carry out any manipulations we want in this loop, such as taking the area (let's reuse this as it used it before, so you will be familiar):

In [65]:
for row in data.iterrows():
    
    ##this will print our row geometry
    area_km2 = (row[1]['geometry'].area / 1e6)
    
    ##this will round our area to 1 decimal place
    area_km2 = round(area_km2, 1)
    
    print("The area of GMU campus is {} square kilometers".format(area_km2))

The area of GMU campus is 2.8 square kilometers